// Color variables
$primary-color: #3BA4F0
$secondary-color: #59BAFF
$third-color: #1869A3
$primary-complementary-color: #A38456
$secondary-complementary-color: #F0A73C

$bg-success: #229428
$bg-failure: #d36464

body
    margin: 0

//Start of NavBar CSS
.navBar
    height: 70px
    background-color: $primary-color
    color: white
    position: sticky
    top: 0
    transition: height 0.6s ease-out 0s
    @at-root #{&}--scroll
        height: 40px
        background-color: $primary-color
        color: white
        position: sticky
        top: 0
        transition: height 0.6s ease-out 0s
        z-index: 1
    @at-root #{&}__group
        display: flex
        flex-wrap: wrap
        position: absolute
        right: 10px
        top: 35px
        justify-content: flex-end
        width: auto
        transition: top 0.6s ease-out 0s
        @at-root #{&}--scroll
            display: flex
            flex-wrap: wrap
            position: absolute
            right: 10px
            top: 5px
            justify-content: flex-end
            width: auto
            transition: top 0.6s ease-out 0s
        @at-root #{&}__links
            position: relative
            font-size: 18px
            top: 50%
            height: 20px
            margin-left: 20px
            padding: 5px
.navBar__group__links:hover,                  
.navBar__group__links:active
   color: $secondary-complementary-color
   cursor: pointer
//Ened of NavBar CSS

// Start of messaging css
 
.tables
    width: 80%
    margin-left: auto
    margin-right: auto
    display: flex
    flex-wrap: wrap
    overflow: hidden
    transition: height 2s ease-out
    @at-root #{&}__message
        border: 1px solid black
        margin-left: auto
        margin-right: auto
        overflow: hidden
        transition: height 2s ease-out
        @at-root #{&} th
            background-color: $secondary-color
            color: white 
        @at-root #{&} tr:nth-child(even) 
            background-color: #f2f2f2
        @at-root #{&} th, td
            border-spacing: 0px
            border: 1px solid #ddd
            padding: 8px
            text-align: center
        @at-root #{&} tr:hover
            background-color: lightgrey
    @at-root #{&}__accounts
        border: 1px solid black
        margin-left: auto
        margin-right: auto
        overflow: hidden
        transition: max-height 0.5s ease-out
        @at-root #{&} th
            background-color: $secondary-color
            color: white 
        @at-root #{&} tr:nth-child(even) 
            background-color: #f2f2f2
        @at-root #{&} th, td
            border-spacing: 0px
            border: 1px solid #ddd
            padding: 8px
            text-align: center
        @at-root #{&} tr:hover
            background-color: lightgrey
    @at-root #{&}__unit_type
        border: 1px solid black
        margin-left: auto
        margin-right: auto
        overflow: hidden
        transition: max-height 0.5s ease-out
        @at-root #{&} th
            background-color: $secondary-color
            color: white 
        @at-root #{&} tr:nth-child(even) 
            background-color: #f2f2f2
        @at-root #{&} th, td
            border-spacing: 0px
            border: 1px solid #ddd
            padding: 8px
            text-align: center
        @at-root #{&} tr:hover
            background-color: lightgrey
.respond:hover,
.respond:focus 
    color: $secondary-complementary-color
    text-decoration: none
    cursor: pointer
.delete:hover, 
.delete:focus 
    color: $primary-complementary-color
    text-decoration: none
    cursor: pointer
.makeManager:hover,
.makeManager:focus 
    color: $primary-complementary-color
    text-decoration: none
    cursor: pointer

.popUp
    display: none
    position: fixed
    z-index: 1
    left: 0
    top: 0
    width: 100%
    height: 100%
    overflow: auto
    background-color: rgb(0,0,0)
    background-color: rgba(0,0,0,0.4)
    @at-root #{&}__content 
        background-color: #fefefe
        margin: 15% auto
        padding: 20px
        border: 1px solid #888
        width: 80%
        @at-root #{&}--small
            background-color: #fefefe
            margin: 15% auto
            padding: 20px
            border: 1px solid #888
            width: 40%
    @at-root #{&}__close 
        color: #aaa
        float: right 
        font-size: 28px
        font-weight: bold

.messageBox
    width: 100%
    height: 100px

.popUp__close:hover,
.popUp__close:focus 
    color: $secondary-complementary-color
    text-decoration: none
    cursor: pointer

.plusBox
    width: 80%
    margin-left: auto
    margin-right: auto
    display: flex
    flex-wrap: wrap
.plus
    transform: translate(-50%, -50%) rotate(0)
    width: 1rem
    height: 2px
    -webkit-transition: -webkit-transform .2s ease-out
    transition: -webkit-transform .2s ease-out
    transition: transform .2s ease-out
    transition: transform .2s ease-out, -webkit-transform .2s ease-out
    display: block
    background: #000000
    user-select: none
    cursor: pointer
    
.plus::after 
    transform: translateY(0px) rotate(90deg)

.plus--acitve::after
    transform: translateY(0px) rotate(0)
    
.plus::after 
    content: ""
    -webkit-transition: -webkit-transform .2s ease-out
    transition: -webkit-transform .2s ease-out
    transition: transform .2s ease-out
    transition: transform .2s ease-out, -webkit-transform .2s ease-out
    display: block
    border-radius: 1px
    background: #000000
    position: absolute
    height: 2px
    width: 100%
    cursor: pointer

.plus__btn
    border: none
    margin-top: 30px
    margin-left: 15px
    user-select: none
    display: block

.inactive
    max-height: 0
    transition: max-height 0.5s ease-out


//account_maker css

.bg-success
    background: $bg-success
    color: #fff

.bg-fail
    background: $bg-failure
    color: #fff

#createTenantForm
    width: 60%
    margin: auto
    margin-top: 5rem
    margin-bottom: 7rem 
    display: flex
    flex-direction: column   
    h4
        text-align: center
    label
        position: relative
        top: .25rem
    input, select
        border-radius: 4px
        padding: .3rem 0
        outline: none
        border: 1px grey solid
        margin: .6rem 0
    #createNewAccountBtn
        display: inline-block
        margin-top: .5rem
        padding: 1rem 0
        cursor: pointer
        border: 1px grey solid
        border-radius: 4px
        outline: none
        color: #fff
        background: $secondary-color
    .alertMessage
        display: flex
        align-items: center
        justify-content: center
        margin-top: 2rem
        padding: 1.3rem 0
        border: 1px solid #8d8d8d
        border-radius: 4px
    .hidden
        display: none 