body {
  margin: 0;
}

.navBar {
  height: 70px;
  background-color: #3BA4F0;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-transition: height 0.6s ease-out 0s;
  transition: height 0.6s ease-out 0s;
}

.navBar--scroll {
  height: 40px;
  background-color: #3BA4F0;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-transition: height 0.6s ease-out 0s;
  transition: height 0.6s ease-out 0s;
  z-index: 1;
}

.navBar__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  right: 10px;
  top: 35px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: auto;
  -webkit-transition: top 0.6s ease-out 0s;
  transition: top 0.6s ease-out 0s;
}

.navBar__group--scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  right: 10px;
  top: 5px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: auto;
  -webkit-transition: top 0.6s ease-out 0s;
  transition: top 0.6s ease-out 0s;
}

.navBar__group__links {
  position: relative;
  font-size: 18px;
  top: 50%;
  height: 20px;
  margin-left: 20px;
  padding: 5px;
}

.navBar__group__links:hover,
.navBar__group__links:active {
  color: #F0A73C;
  cursor: pointer;
}

.tables {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  -webkit-transition: height 2s ease-out;
  transition: height 2s ease-out;
}

.tables__message {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  -webkit-transition: height 2s ease-out;
  transition: height 2s ease-out;
}

.tables__message th {
  background-color: #59BAFF;
  color: white;
}

.tables__message tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tables__message th, td {
  border-spacing: 0px;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.tables__message tr:hover {
  background-color: lightgrey;
}

.tables__accounts {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
}

.tables__accounts th {
  background-color: #59BAFF;
  color: white;
}

.tables__accounts tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tables__accounts th, td {
  border-spacing: 0px;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.tables__accounts tr:hover {
  background-color: lightgrey;
}

.tables__unit_type {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
}

.tables__unit_type th {
  background-color: #59BAFF;
  color: white;
}

.tables__unit_type tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tables__unit_type th, td {
  border-spacing: 0px;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.tables__unit_type tr:hover {
  background-color: lightgrey;
}

.respond:hover,
.respond:focus {
  color: #F0A73C;
  text-decoration: none;
  cursor: pointer;
}

.delete:hover,
.delete:focus {
  color: #A38456;
  text-decoration: none;
  cursor: pointer;
}

.makeManager:hover,
.makeManager:focus {
  color: #A38456;
  text-decoration: none;
  cursor: pointer;
}

.popUp {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.popUp__content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.popUp__content--small {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.popUp__close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.messageBox {
  width: 100%;
  height: 100px;
}

.popUp__close:hover,
.popUp__close:focus {
  color: #F0A73C;
  text-decoration: none;
  cursor: pointer;
}

.plusBox {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.plus {
  -webkit-transform: translate(-50%, -50%) rotate(0);
          transform: translate(-50%, -50%) rotate(0);
  width: 1rem;
  height: 2px;
  -webkit-transition: -webkit-transform .2s ease-out;
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out, -webkit-transform .2s ease-out;
  display: block;
  background: #000000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.plus::after {
  -webkit-transform: translateY(0px) rotate(90deg);
          transform: translateY(0px) rotate(90deg);
}

.plus--acitve::after {
  -webkit-transform: translateY(0px) rotate(0);
          transform: translateY(0px) rotate(0);
}

.plus::after {
  content: "";
  -webkit-transition: -webkit-transform .2s ease-out;
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out, -webkit-transform .2s ease-out;
  display: block;
  border-radius: 1px;
  background: #000000;
  position: absolute;
  height: 2px;
  width: 100%;
  cursor: pointer;
}

.plus__btn {
  border: none;
  margin-top: 30px;
  margin-left: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
}

.inactive {
  max-height: 0;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
}

.bg-success {
  background: #229428;
  color: #fff;
}

.bg-fail {
  background: #d36464;
  color: #fff;
}

#createTenantForm {
  width: 60%;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#createTenantForm h4 {
  text-align: center;
}

#createTenantForm label {
  position: relative;
  top: .25rem;
}

#createTenantForm input, #createTenantForm select {
  border-radius: 4px;
  padding: .3rem 0;
  outline: none;
  border: 1px grey solid;
  margin: .6rem 0;
}

#createTenantForm #createNewAccountBtn {
  display: inline-block;
  margin-top: .5rem;
  padding: 1rem 0;
  cursor: pointer;
  border: 1px grey solid;
  border-radius: 4px;
  outline: none;
  color: #fff;
  background: #59BAFF;
}

#createTenantForm .alertMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  padding: 1.3rem 0;
  border: 1px solid #8d8d8d;
  border-radius: 4px;
}

#createTenantForm .hidden {
  display: none;
}

#index {
  background: url("index_background.jpg") no-repeat fixed center;
  background-size: cover;
}

.loginCard {
  width: 70%;
  opacity: 0.9;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
  border-radius: 25px;
  padding: 5%;
  max-width: 500px;
  max-height: 300px;
  color: white;
}

.loginCard__box {
  margin-top: 5%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.loginCard__title {
  margin-top: 5%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.loginCard__img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=style.css.map */